
*{
  box-sizing: content-box;
}

html{
  margin:5px;
  box-sizing: content-box;
}
.App {
 display: flex;
 justify-content: center;
 flex-direction: column;
 height: auto;
}

.dash{
  width: 100%;
  background-color: tomato;
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.chart{
  width: 85%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.table{
  margin-top: 20px;
  float: right;
}
.table input{
float: right;
width: 400px;
padding: 15px;
font-size: 16px;
border-radius: 5px;
border: 1px solid;
margin-right: 120px;
}
.table h4{
  margin-left: 200px;
}

.chart div{
  width: 50%;
  height: 500px;
  display:flex;
  justify-content: space-around;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


